.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0%);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0;
  bottom: 0;
  line-height: 0; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobil-nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 40px;
}

.mobil-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-studio {
  color: #404bbf;
}

.mobil-contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-top: auto;
}

.mobile-tel-numer {
  color: #434455;
}

.mobile-menu-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 48px;
}

.mobile-menu-social-icons {
  fill: #f4f4fd;
}

.mobil-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobil-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-tel-numer {
  color: #4d5ae5;
}

.mobile-menu-social-list {
  display: flex;
  gap: 40px;
}

.mobile-menu-social-icons {
  fill: #f4f4fd;
}

.mobil-menu-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobil-menu-social-link:hover,
.mobil-menu-social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* hero */

.hero-container {
  display: block;
}

.hero {
  margin: 0% auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: url(../images/people-office1х.jpg);
  width: 100%;
  max-width: 320px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office1х.jpg) center/cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  display: block;
  margin: 0 auto;
  max-width: 216px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 72px;
  background-size: cover;
}

.hero-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero {
    padding: 112px 0;
    max-width: 768px;
    /* background-image: url(../images/people-office2х.jpg); */
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office2х.jpg);
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .hero-button {
    min-width: 169px;
    height: 56px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .hero {
    padding: 188px 0;
    max-width: 1158px;
    /* background-image: url(../images/people-office2х.jpg); */
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office2х.jpg);
  }

  .hero-title {
    max-width: 600px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }

  .hero-button {
    min-width: 169px;
    height: 56px;
    font-size: 16px;
  }
}

/* benefits */
.benefits {
  display: flex;
  padding: 96px 0;
}

.benefits-list {
  display: flex;
  gap: 72px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* .benefits-list-item {
  gap: 72px;
} */

.benefits-item-title { 
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}

.benefits-item-text {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 72px;
}

.benefits-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    gap: 72px 24px;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 2);
  }
  .benefits-item-title { 
  display: block;
}
}

@media screen and (min-width: 1158px) {
  .benefits-icon {
    display: flex;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits {
    display: flex;
    padding: 120px 0 120px;
  }

  .benefits-list {
    display: flex;
    gap: 72px 24px;
  }

  .benefits-container-icon {
    display: flex;
    height: 112px;
    background-color: #f4f4fd;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }

  .benefits-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
}

/* our-team */
.our-team {
  padding: 120px 0;
  background-color: #f4f4fd;
  text-align: center;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
  padding: 0;
  list-style: none;
}

.our-team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  text-align: center;
  overflow: hidden;
}

.our-team-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.team-info {
  padding: 32px 0;
}

.team-names {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #2e2f42;
}

.our-team-text {
  font-size: 16px;
  color: #434455;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
  padding: 0;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icons {
  fill: #f4f4fd;
}

@media screen and (max-width: 767px) and (min-resolution: 1x) {
  .our-team {
    padding: 96px 0;
  }

  .our-team-title {
    font-size: 36px;
    margin-bottom: 72px;
  }

  .our-team-list {
    flex-direction: column;
    align-items: center;
  }

  .our-team-list-item {
    width: 100%;
    max-width: 264px;
  }

  .social-list {
    gap: 24px;
  }

  .social-link {
    width: 40px;
    height: 40px;
  }

  .team-info {
    padding: 32px 16px;
  }
}

.our-team-list-item img {
  background-image: url('../images/markguerrero1x.jpg');
}

.our-team-list-item:nth-child(2) img {
  background-image: url('../images/tomford1x.jpg');
}

.our-team-list-item:nth-child(3) img {
  background-image: url('../images/camilagarcia1x.jpg');
}

.our-team-list-item:nth-child(4) img {
  background-image: url('../images/danielwilson1x.jpg');
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .our-team {
    padding: 96px 0;
  }

  .our-team-title {
    font-size: 36px;
    margin-bottom: 72px;
  }

  .our-team-list {
    flex-wrap: wrap;
    justify-content: center;
     }

  .our-team-list-item {
    width: calc(50% - 12px);
    max-width: 264px;
  }

  .social-list {
    gap: 16px;
  }

  .social-link {
    width: 40px;
    height: 40px;
  }

  .team-info {
    padding: 32px 16px;
  }

  .our-team-list-item img {
    background-image: url('../images/markguerrero2x.jpg');
  }

  .our-team-list-item:nth-child(2) img {
    background-image: url('../images/tomford2x.jpg');
  }

  .our-team-list-item:nth-child(3) img {
    background-image: url('../images/camilagarcia2x.jpg');
  }

  .our-team-list-item:nth-child(4) img {
    background-image: url('../images/danielwilson2x.jpg');
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .our-team {
    padding: 100px 0;
  }

  .our-team-title {
    font-size: 36px;
    margin-bottom: 72px;
  }

  .our-team-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .our-team-list-item {
    width: calc(25% - 18px);
    max-width: 264px;
  }

  .social-list {
    gap: 24px;
  }

  .social-link {
    width: 40px;
    height: 40px;
  }

  .team-info {
    padding: 32px 16;
  }

  .our-team-list-item img {
    background-image: url('../images/markguerrero2x.jpg');
  }

  .our-team-list-item:nth-child(2) img {
    background-image: url('../images/tomford2x.jpg');
  }

  .our-team-list-item:nth-child(3) img {
    background-image: url('../images/camilagarcia2x.jpg');
  }

  .our-team-list-item:nth-child(4) img {
    background-image: url('../images/danielwilson2x.jpg');
  }
}

/* Our portfolio */
.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 48px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

.portfolio-list-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tumba {
  position: relative;
  overflow: hidden;
}

.sub-tumba {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: rgba(77, 90, 229, 0.8);
  color: #f4f4fd;
}

.portfolio-list-item:hover .sub-tumba {
  transform: translateY(0);
}

.portfolio-servis {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.servis-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  /* text-align: center; */
}

@media screen and (max-width: 767px) and (min-resolution: 1x) {
  .portfolio-list {
    flex-direction: column;
    align-items: center;
  }

  .portfolio-list-item {
    width: 100%;
  }
}

.portfolio-list-item .tumba {
  background-image: url('../images/img1-1x.jpg');
}

.portfolio-list-item:nth-child(2) img {
  background-image: url('../images/img2-1x.jpg');
}

.portfolio-list-item:nth-child(3) img {
  background-image: url('../images/img3-1x.jpg');
}
.portfolio-list-item:nth-child(4) img {
  background-image: url('../images/img4-1x.jpg');
}
.portfolio-list-item:nth-child(5) img {
  background-image: url('../images/img5-1x.jpg');
}
.portfolio-list-item:nth-child(6) img {
  background-image: url('../images/img6-1x.jpg');
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .portfolio-list {
    justify-content: space-between;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list-item img {
    background-image: url('../images/img1-2x.jpg');
  }

  .portfolio-list-item:nth-child(2) img {
    background-image: url('../images/img2-2x.jpg');
  }

  .portfolio-list-item:nth-child(3) img {
    background-image: url('../images/img3-2x.jpg');
  }

  .portfolio-list-item:nth-child(4) img {
    background-image: url('../images/img4-2x.jpg');
  }
  .portfolio-list-item:nth-child(5) img {
    background-image: url('../images/img5-2x.jpg');
  } 
 
  .portfolio-list-item:nth-child(6) img { 
    background-image: url('../images/img6-2x.jpg');
  } 
} 
 
@media screen and (min-width: 1158px) and (min-resolution: 2x) { 
  .portfolio {
    padding: 120px 0;
 }

  .portfolio-list { 
    justify-content: space-between; 
  } 
 
  .portfolio-list-item { 
    width: calc((100% - 48px) / 3); 
    box-shadow: none; 
  } 
 
  .portfolio-list-item:hover { 
    box-shadow: 0px 4px 8px rgba(46, 47, 66, 0.2), 
      0px 2px 4px rgba(46, 47, 66, 0.15), 0px 6px 10px rgba(46, 47, 66, 0.1); 
  } 
} 
 
.portfolio-list-item img {
  background-image: url('../images/img1-2x.jpg');
} 
 
.portfolio-list-item:nth-child(2) img { 
  background-image: url('../images/img2-2x.jpg');
}
 
.portfolio-list-item:nth-child(3) img {
  background-image: url('../images/img3-2x.jpg');
}
 
.portfolio-list-item:nth-child(4) img {
  background-image: url('../images/img4-2x.jpg');
}
.portfolio-list-item:nth-child(5) img {
  background-image: url('../images/img5-2x.jpg');
}
 
.portfolio-list-item:nth-child(6) img {
  background-image: url('../images/img6-2x.jpg');
}
 
/* footer */ 
.footer-container { 
  display: flex; 
  flex-direction: column; 
  align-items: baseline; 
  /* justify-content: center;  */
  gap: 72px; 
} 
 
.footer-text { 
  line-height: 1.5;
  color: #f4f4fd; 
  letter-spacing: 0.02em; 
  max-width: 288px; 
} 
 
.footer-logo-container {
  display: flex;
  /* margin: 0 auto; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
 
.footer-logo { 
  margin-bottom: 16px; 
} 
 
.page-footer { 
  background-color: #2e2f42; 
  padding: 96px 0; 
} 
 
.logo-span { 
  color: #f4f4fd; 
} 
 
.footer-social-text { 
  font-weight: 500; 
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  color: #fff; 
  margin-bottom: 16px; 
  text-align: center;
} 

.form-text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

  .form-text { 
  font-weight: 500; 
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  color: #fff; 
  margin-bottom: 16px; 
  text-align: center; 
} 

.social-container {
  margin: 0 auto;
}
 
.footer-form { 
  display: flex; 
  gap: 16px; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
} 
 
.footer-input { 
  border: 1px solid #fff; 
  border-radius: 4px; 
  width: 288px; 
  height: 40px; 
  background-color: transparent; 
  outline: transparent; 
  padding-left: 16px; 
  font-size: 12px; 
  line-height: 2; 
  letter-spacing: 0.04em; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  color: #ffffff; 
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.footer-button-icon {
  fill: #fff;
  margin-left: 16px;
}

.form {
  display: block;
 }

 .footer-social-list { 
    gap: 16px; 
    justify-content: center; 
} 

@media screen and (min-width: 768px) {
  .footer-container { 
    flex-direction: row; 
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
    max-width: 584px;
  }

    .footer-logo-container {
    align-items: flex-start;
    text-align: left; 
    margin-right: 24px;
  }

  .footer-logo {
    display: block;
    text-align: left;
    margin-left: 0;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social-list {
    align-items: baseline;
  }

  .footer-social-text {
    text-align: start;
  }

  .footer-form {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .form-text {
    text-align: start;
  }

  .footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
    max-width: 1158px;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .page-footer {
    padding: 100px 0;
  }

  .social-container {
    margin-right: 80px;
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }
}

/* backdrop */

.backdrop.is-open {
  visibility: visible; 
  opacity: 1;
  pointer-events: auto;
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 72px 16px 16px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.close-btn {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  /* margin-left: 336px; */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0;
  bottom: 0;
  line-height: 0; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text { 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  max-width: 256px;
}

.modal-container {
  margin-bottom: 8px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px; 
  letter-spacing: 0.04em; 
  color: #8e8f99; 
  margin-bottom: 4px;
  display: block;
  line-height: 1.17;
}

.modal-container-inp {
  position: relative;
}

.modal-input {
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 34px;
  outline: transparent; 
} 

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute; 
  top: 50%; 
  left: 16px; 
  transform: translateY(-50%);
} 
.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.custom {
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px;  
  margin-right: 8px;
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  fill: transparent; 
  flex-shrink: 0; 
}

.lab-customs {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}

.in-check:checked + .lab-customs .custom {
  background-color: #404bbf; 
  border: transparent; 
  fill: #f4f4fd; 
}

.text-modal {
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-modal:focus {
  border: 1px solid #4d5ae5;
  outline: transparent;
}
.text-modal::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.text-mod {
  margin-bottom: 16px;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .close-btn:focus,
  .close-btn:hover {
    fill: #fff;
    background-color: #404bbf;
    border: none;
  }

  .link-mod {
    color: #4d5ae5;
    text-decoration: underline;
  }

  .text-modal {
    width: 360px;
  }

  .modal-text {
    max-width: 360px;
  }
}
